.idea/
tmp/
p4src/build
ptf/stratum_bmv2.log
ptf/p4rt_write.log
ptf/ptf.log
ptf/ptf.pcap
**/*.iml
**/*.pyc
**/*.bak
**/.classpath
**/.project
**/.settings
**/.factorypath
util/.pipe_cfg
*.png
include/__pycache__
p4src/*.p4i
p4src/*.json
